<div class="container">
	<div class="jumbotron" style="margin: 40px;">
		<h1>Maps</h1>
		<p>Esta aplicación permite buscar ubicaciones y crear una lista de ellas, utilizando marcadores.</p>

		<h3>Mode de uso</h3>

		<p>Primero se debe buscar una ubicación, utilizando el cuadro de texto superior. Una vez seleccionada una ubicación 
		desde la lista, ésta aparecerá en el mapa, a través de un marcador. Este marcador puede ser movido y ubicado en
		cualquier posición del mapa. Cuando se tenga la posición donde se quiera ubicar el marcador se puede guardar utilizando el
		boton ubicado en la parte inferior.</p>

		<p>La lista de marcadores de la derecha, muestra los marcadores que ya han sido guardados, aparece la dirección del marcador
		y dos botones. El primero centra el mapa en la ubicación del marcador, mientras que el segudo elimina el marcador del mapa.</p>

		<p>Para agregar una nueva posición se debe <strong>borrar el campo de texto</strong> para buscar una nueva ubicación, de lo contrario
		no se agregará ningun marcador al mapa.</p>

		<p><a class="btn btn-primary btn-lg" href="#/" role="button">Ir al mapa</a></p>
	</div>
</div>
